<div class="row">
  <div class="col-lg-4">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title text-center">Society Form</h5>
        <form [formGroup]="form">
          <div class="form-group row">
            <label for="name" class="col-sm-5 col-form-label col-form-label-sm"> Name <span style="color: red">*</span></label>
            <input [ngClass]="isInvalid(name)" formControlName="name" id="name" type="text"
                   class="form-control form-control-sm col-sm">
            <div class="invalid-feedback offset-5" *ngIf="name.hasError('required') && name.touched">Name is required
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-5 col-form-label col-form-label-sm">Division <span
              style="color: red">*</span></label>
            <select [ngClass]="isInvalid(division)" [compareWith]="compareDropdown"
                    class="form-control form-control-sm col-sm" id="division" formControlName="division">
              <option disabled [ngValue]="null">Select Division</option>
              <option *ngFor="let division of divisionList" [ngValue]="division">{{division.name}}</option>
            </select>
            <div class="invalid-feedback offset-5" *ngIf="division.hasError('required') && division.touched">Division is required</div>
          </div>

          <div class="form-group row">
            <div class="btn-group btn-group-sm d-flex col">
              <button type="button" class="btn btn-primary w-100"
                      *ngIf="id.value === null"
                      (click)="addSociety(persist)">Add
              </button>
              <button type="button"
                      *ngIf="id.value !== null"
                      (click)="addSociety(persist)"
                      class="btn btn-warning w-100">Update
              </button>
              <button type="button" class="btn btn-secondary w-100" (click)="clearForm()">Clear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title text-center">Search</h5>
        <form [formGroup]="searchForm" class="form-row align-items-end">
          <div class="col">
            <input type="text" class="form-control form-control-sm" id="searchName" formControlName="name"
                   placeholder="name"
                   (keyup.enter)="search()">
          </div>

          <div class="col">
            <select class="form-control form-control-sm" formControlName="division"
                    (change)="search()">
              <option disabled [ngValue]="null">Select Division</option>
              <option *ngFor="let division of divisionList" [ngValue]="division">
                {{division.name}}
              </option>
            </select>
          </div>

          <div class="col">
            <button type="button" class="btn btn-secondary btn-block btn-sm" (click)="clearSearchForm()">Clear</button>
          </div>

        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Societies</h5>
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <label for="filter" class="col-2 col-form-label col-form-label-sm">Filter Columns</label>
              <mat-select (selectionChange)="addColumn($event)"
                          placeholder="Columns"
                          multiple
                          [value]="displayedColumns"
                          [compareWith]="compareTableColumns"
                          class="form-control form-control-sm col" id="filter">
                <mat-option *ngFor="let column of columns"
                            [value]="column">
                  {{column | sentence}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-12">
              <table cdk-table [dataSource]="dataSource" matSort class="table table-bordered table-hover table-sm">

                <ng-container matColumnDef="id">
                  <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Id</th>
                  <td cdk-cell *cdkCellDef="let society">{{society.id}}</td>
                </ng-container>

                <ng-container cdkColumnDef="name">
                  <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Name</th>
                  <td cdk-cell *cdkCellDef="let society">{{society.name}}</td>
                </ng-container>

                <ng-container cdkColumnDef="division">
                  <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Division</th>
                  <td cdk-cell *cdkCellDef="let society">{{society.division?.name}}</td>
                </ng-container>

                <ng-container cdkColumnDef="action">
                  <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Action</th>
                  <td cdk-cell *cdkCellDef="let society">
                    <div class="btn-group btn-group-sm special">
                      <button type="button" class="btn btn-warning" (click)="fillForm(society)">Edit</button>
                      <button type="button" class="btn btn-danger" (click)="deleteSociety(delete)">Delete</button>
                    </div>
                    <ng-template #delete>
                      <div class="modal-body text-center">
                        <p>Are you sure that you want to delete {{society.name}} ?</p>
                        <div class="btn-group d-flex">
                          <button type="button" class="btn btn-danger w-100" (click)="onDeleteYes(society.id)">Yes
                          </button>
                          <button type="button" class="btn btn-secondary w-100" (click)="closeModal()">No</button>
                        </div>
                      </div>
                    </ng-template>
                  </td>
                </ng-container>

                <tr class="thead-light" cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>

                <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>

              </table>
              <mat-spinner
                diameter="50"
                strokeWidth="5"
                *ngIf="isLoading"
                style="margin:0 auto;">
              </mat-spinner>
              <mat-paginator [pageSizeOptions]="[5, 7, 10]"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #persist>
  <div class="modal-body text-center">
    <table class="table table-bordered table-hover table-sm">
      <thead>
      <tr>
        <th scope="col" colspan="2">Please Review Again</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="id.value">
        <td>Id</td>
        <td> {{id.value}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{name.value}}</td>
      </tr>
      <tr>
        <td>Division</td>
        <td>{{division.value?.name}}</td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group d-flex">
      <button type="button" class="btn btn-primary w-100" (click)="onPersistYes()">Yes</button>
      <button type="button" class="btn btn-secondary w-100" (click)="closeModal()">No</button>
    </div>
  </div>
</ng-template> <!--persist confirmation modal-->


