<br><br><br><br><br><br>
<div class="row text-center">
  <div class="col-3 offset-4">
    <div class="card">
      <div class="card-header">Change your password</div>
      <div class="card-body">
        <form [formGroup]="form">
          <input type="text" class="form-control form-control-sm" placeholder="Username" formControlName="username"><br>
          <input type="password" class="form-control form-control-sm" placeholder="Old Password"
                 formControlName="oldPassword"><br>
          <alert
            [type]="message.type"
            *ngIf="message">{{message.msg}}
          </alert>
          <input type="password" class="form-control form-control-sm" placeholder="New Password"
                 formControlName="newPassword"><br>
          <input type="password" class="form-control form-control-sm" placeholder="Again"
                 formControlName="newPasswordAgain"><br>
          <div class="btn-group btn-group-sm d-flex">
            <button type="submit" class="btn btn-primary btn-sm w-100" (click)="change()">Change</button>
            <button type="reset" class="btn btn-secondary btn-sm w-100" (click)="cancel()">Cancel</button>
          </div>
          <alert type="danger" *ngIf="error" [dismissible]="'true'">Your Credentials are Wrong !!!</alert>
        </form>
      </div>
    </div>
  </div>
</div>
