<div class="row">
  <div class="col-3 offset-4">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title text-center">Change your password</h6>
        <form [formGroup]="form">
          <div class="form-group row">
            <input type="text" [readonly]="true" class="form-control form-control-sm" placeholder="Username" formControlName="username">
          </div>

          <div class="form-group row">
            <input type="password" [ngClass]="isInvalid(oldPassword)" class="form-control form-control-sm" placeholder="Old Password" formControlName="oldPassword">
            <div class="invalid-feedback" *ngIf="oldPassword.hasError('oldPasswordIsWrong') && oldPassword.touched">Old Password is wrong</div>
            <div class="invalid-feedback" *ngIf="requiredValidation(oldPassword)">Old Password is required</div>
            <div class="valid-feedback" *ngIf="!oldPassword.hasError('oldPasswordIsWrong') && oldPassword.touched">Old Password is correct</div>
          </div>

          <div class="form-group row">
            <input type="password" [ngClass]="isInvalid(newPassword)" class="form-control form-control-sm" placeholder="New Password" formControlName="newPassword">
            <div class="invalid-feedback" *ngIf="requiredValidation(newPassword)">New password is required</div>
          </div>

          <div class="form-group row">
            <input type="password" [ngClass]="isInvalid(newPasswordAgain)" class="form-control form-control-sm" placeholder="Again" formControlName="newPasswordAgain">
            <div class="invalid-feedback" *ngIf="newPasswordAgain.hasError('confirmationIsWrong') && newPasswordAgain.touched">Password doesn't match</div>
            <div class="invalid-feedback" *ngIf="requiredValidation(newPasswordAgain)">Confirmation is required</div>
            <div class="valid-feedback" *ngIf="newPasswordAgain.valid">Password matches</div>
          </div>

          <div class="btn-group btn-group-sm d-flex">
            <button type="submit" class="btn btn-primary btn-sm w-100" (click)="change()">Change</button>
            <button type="reset" class="btn btn-secondary btn-sm w-100" (click)="cancel()">Cancel</button>
          </div>
          <alert type="danger" *ngIf="error" [dismissible]="'true'">Your Credentials are Wrong !!!</alert>
        </form>
      </div>
    </div>
  </div>
</div>
