<div class="form-row">
  <div class="col-4">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title text-center">Loan Type Form</h5>

        <form [formGroup]="form">

          <div class="form-group row">
            <label for="name" class="col-sm-5 col-form-label col-form-label-sm">Name <span style="color: red">*</span></label>
            <input [ngClass]="isInvalid(name)" formControlName="name" id="name" type="text"
                   class="form-control form-control-sm col-sm">
            <div class="invalid-feedback offset-5" *ngIf="requiredValidation(name)">Name is required</div>
          </div>

          <div class="form-group row">
            <label for="interestRate" class="col-sm-5 col-form-label col-form-label-sm">Interest Rate <span style="color: red">*</span></label>
            <input [ngClass]="isInvalid(interestRate)" formControlName="interestRate" id="interestRate" type="number"
                   class="form-control form-control-sm col-sm">
            <div class="invalid-feedback offset-5" *ngIf="requiredValidation(interestRate)">Interest rate is required</div>
            <div class="invalid-feedback offset-5" *ngIf="interestRate.hasError('pattern') && interestRate.touched">Interest should contain up to 2 decimal points</div>
          </div>

          <div class="form-group row">
            <label for="minPeriod" class="col-sm-6 col-form-label col-form-label-sm">Minimum Period (months) <span style="color: red">*</span></label>
            <input [ngClass]="isInvalid(minPeriod)" formControlName="minPeriod" id="minPeriod" type="number"
                   class="form-control form-control-sm col-sm">
            <div class="invalid-feedback offset-6" *ngIf="requiredValidation(minPeriod)">Minimum period is required</div>
            <div class="invalid-feedback offset-6" *ngIf="interestRate.hasError('pattern') && interestRate.touched">should contain integers</div>
          </div>

          <div class="form-group row">
            <label for="maxPeriod" class="col-sm-6 col-form-label col-form-label-sm">Maximum Period (months) <span style="color: red">*</span></label>
            <input [ngClass]="isInvalid(maxPeriod)" formControlName="maxPeriod" id="maxPeriod" type="number"
                   class="form-control form-control-sm col-sm">
            <div class="invalid-feedback offset-6" *ngIf="requiredValidation(maxPeriod)">Maximum period is required</div>
            <div class="invalid-feedback offset-6" *ngIf="interestRate.hasError('pattern') && interestRate.touched">should contain integers</div>
          </div>

          <div class="form-group row">
            <label for="minAmount" class="col-sm-5 col-form-label col-form-label-sm">Minimum Amount <span style="color: red">*</span></label>
            <input [ngClass]="isInvalid(minAmount)" formControlName="minAmount" id="minAmount" type="number"
                   class="form-control form-control-sm col-sm">
            <div class="invalid-feedback offset-5" *ngIf="requiredValidation(minAmount)">Minimum Amount is required</div>
            <div class="invalid-feedback offset-5" *ngIf="interestRate.hasError('pattern') && interestRate.touched">should contain integers</div>
          </div>

          <div class="form-group row">
            <label for="maxAmount" class="col-sm-5 col-form-label col-form-label-sm">Maximum Amount <span style="color: red">*</span></label>
            <input [ngClass]="isInvalid(maxAmount)" formControlName="maxAmount" id="maxAmount" type="number"
                   class="form-control form-control-sm col-sm">
            <div class="invalid-feedback offset-5" *ngIf="requiredValidation(maxAmount)">Maximum Amount is required</div>
            <div class="invalid-feedback offset-5" *ngIf="interestRate.hasError('pattern') && interestRate.touched">should contain integers</div>
          </div>

          <div class="form-group row">
            <div class="btn-group btn-group-sm d-flex col">
              <button *ngIf="!id.value" type="button" class="btn btn-primary w-100" (click)="addLoanTypes(persist)">Add</button>
              <button *ngIf="id.value" type="button" class="btn btn-warning w-100" (click)="addLoanTypes(persist)">Update</button>
              <button type="button" class="btn btn-secondary w-100" (click)="clearForm()">Clear</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="col-8">

    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title text-center">Search</h5>
        <form [formGroup]="searchForm" class="form-row align-items-end">

          <div class="col">
            <input placeholder="name" formControlName="name" type="text"
                   class="form-control form-control-sm col-sm" (keyup.enter)="search()">
          </div>

          <div class="col">
            <input placeholder="interest rate" formControlName="interestRate" type="number"
                   class="form-control form-control-sm col-sm" (keyup.enter)="search()">
          </div>

          <div class="col">
            <input [formControl]="period" placeholder="period" type="number" class="form-control form-control-sm col-sm" (keyup.enter)="search()">
          </div>
          <div class="col">
            <input [formControl]="amount" placeholder="amount" type="number" class="form-control form-control-sm col-sm" (keyup.enter)="search()">
          </div>

          <div class="col">
            <button type="button" class="btn btn-secondary btn-block btn-sm" (click)="clearSearchForm()">Clear</button>
          </div>

        </form>
      </div>
    </div>

    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title text-center">Loan Types</h5>
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <label for="filter" class="col-2 col-form-label col-form-label-sm">Filter Columns</label>
              <mat-select (selectionChange)="addColumn($event)" placeholder="Columns" multiple [value]="displayedColumns"
                          class="form-control form-control-sm col" id="filter">
                <mat-option *ngFor="let column of columns" [value]="column">{{column | sentence}}</mat-option>
              </mat-select>
            </div>
          </div>

          <div class="col-12">

            <table cdk-table [dataSource]="dataSource" matSort class="table table-bordered table-hover table-sm">

              <ng-container matColumnDef="id">
                <th cdk-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td cdk-cell *cdkCellDef="let loanType">{{loanType.id}}</td>
              </ng-container>

              <ng-container cdkColumnDef="name">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Name</th>
                <td cdk-cell *cdkCellDef="let loanType">{{loanType.name}}</td>
              </ng-container>

              <ng-container cdkColumnDef="interestRate">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Interest Rate</th>
                <td cdk-cell *cdkCellDef="let loanType">{{loanType.interestRate}}%</td>
              </ng-container>

              <ng-container cdkColumnDef="period">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Period Range</th>
                <td cdk-cell *cdkCellDef="let loanType">{{loanType.minPeriod}} - {{loanType.maxPeriod}}</td>
              </ng-container>

              <ng-container cdkColumnDef="amount">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Amount Range</th>
                <td cdk-cell *cdkCellDef="let loanType">{{loanType.minAmount  | number: '1.2-2'}} - {{loanType.maxAmount | number: '1.2-2'}}</td>
              </ng-container>

              <ng-container cdkColumnDef="number">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Account Number</th>
                <td cdk-cell *cdkCellDef="let loanType">{{loanType.account?.number}}</td>
              </ng-container>

              <ng-container cdkColumnDef="member">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Member</th>
                <td cdk-cell *cdkCellDef="let loanType">{{loanType.member?.fullName}}</td>
              </ng-container>

              <ng-container cdkColumnDef="action">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Action</th>
                <td cdk-cell *cdkCellDef="let loanType">
                  <div class="btn-group btn-group-sm d-flex">
                    <button type="button" class="btn btn-warning w-100" (click)="fillForm(loanType)">Edit</button>
                    <button type="button" class="btn btn-danger w-100" (click)="deleteLoanType(delete)">Delete
                    </button>
                  </div>
                  <ng-template #delete>
                    <div class="modal-body text-center">
                      <p>Are you sure that you want to delete {{loanType.name}} ?</p>
                      <div class="btn-group btn-group-sm d-flex">
                        <button type="button" class="btn btn-danger w-100" (click)="onDeleteYes(loanType.id)">Yes
                        </button>
                        <button type="button" class="btn btn-secondary w-100" (click)="closeModal()">No</button>
                      </div>
                    </div>
                  </ng-template>
                </td>
              </ng-container>

              <tr class="thead-light" cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>

              <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 7, 10]"></mat-paginator>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>


<ng-template #persist>
  <div class="modal-body text-center">
    <table class="table table-bordered table-hover table-sm">
      <thead class="thead-light">
      <tr>
        <th scope="col" colspan="2">Please Review Again</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="id.value">
        <td>ID</td>
        <td> {{id.value}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{name.value}}</td>
      </tr>
      <tr>
        <td>Interest Rate</td>
        <td>{{interestRate.value}}</td>
      </tr>
      <tr>
        <td>Minimum Period</td>
        <td>{{minPeriod.value}}</td>
      </tr>
      <tr>
        <td>Maximum Period</td>
        <td>{{maxPeriod.value}}</td>
      </tr>
      <tr>
        <td>Minimum Amount</td>
        <td>{{minAmount.value}}</td>
      </tr>
      <tr>
        <td>Maximum Amount</td>
        <td>{{maxAmount.value}}</td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group btn-group-sm d-flex" dropdown>
      <button [ngClass]="{'btn-primary': !id.value, 'btn-warning': id.value}" type="button" class="btn w-100" (click)="onPersistYes()">Yes</button>
      <button type="button" class="btn btn-secondary w-100" (click)="closeModal()">No</button>
    </div>
  </div>
</ng-template> <!--persist confirmation modal-->
