<div class="row">
  <div class="col-lg-4">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title text-center">Division Form</h5>
        <form [formGroup]="form">
          <div class="form-group row">
            <label for="name" class="col-sm-5 col-form-label col-form-label-sm"> Name <span style="color: red">*</span></label>
            <input [ngClass]="isInvalid(name)" formControlName="name" id="name" type="text"
                   class="form-control form-control-sm col-sm">
            <div class="invalid-feedback offset-5" *ngIf="name.hasError('required') && name.touched">Name is required
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-5 col-form-label col-form-label-sm"> Board Member <span
              style="color: red">*</span></label>
            <select [ngClass]="isInvalid(boardMember)" [compareWith]="compareDropdown"
                    class="form-control form-control-sm col-sm" id="boardMember" formControlName="boardMember">
              <option disabled [ngValue]="null">Select Board Member</option>
              <option *ngFor="let boardMember of boardMemberList"
                        [ngValue]="boardMember"
                        [ngStyle]="{'display': boardMember.division? 'none': ''}">{{boardMember.member.fullName}}
              </option>
            </select>
            <div class="invalid-feedback offset-5" *ngIf="boardMember.hasError('required') && boardMember.touched">
              Board Member is
              required
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-5 col-form-label col-form-label-sm" for="staff"> Staff <span
              style="color: red">*</span></label>
            <select [ngClass]="isInvalid(staff)" [compareWith]="compareDropdown" class="form-control form-control-sm col-sm" id="staff" formControlName="staff">
              <option disabled [ngValue]="null">Select Staff</option>
                <option *ngFor="let staff of staffList"
                        [ngValue]="staff"
                        [ngStyle]="{'display': staff.division? 'none': ''}">{{staff.name}}
                </option>
            </select>
            <div class="invalid-feedback offset-5" *ngIf="staff.hasError('required') && staff.touched">
              Staff is
              required
            </div>
          </div>

          <div class="form-group row">
            <div class="btn-group btn-group-sm d-flex col">
              <button type="button" class="btn btn-primary w-100"
                      *ngIf="id.value === null"
                      (click)="addDivision(persist)">Add
              </button>
              <button type="button"
                      *ngIf="id.value !== null"
                      (click)="addDivision(persist)"
                      class="btn btn-warning w-100">Update
              </button>
              <button type="button" class="btn btn-secondary w-100" (click)="clearForm()">Clear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title text-center">Search</h5>
        <form [formGroup]="searchForm" class="form-row align-items-end">
          <div class="col">
            <input type="text" class="form-control form-control-sm" id="searchName" formControlName="name"
                   placeholder="name"
                   (keyup.enter)="search()">
          </div>
          <div class="col">
            <select class="form-control form-control-sm" formControlName="boardMember"
                    (change)="search()">
              <option disabled [ngValue]="null">Select Board Member</option>
              <option *ngFor="let boardMember of boardMemberList" [ngValue]="boardMember">
                {{boardMember.member.fullName}}
              </option>
            </select>
          </div>

          <div class="col">
            <select class="form-control form-control-sm" formControlName="staff"
                    (change)="search()">
              <option disabled [ngValue]="null">Select Staff</option>
              <option *ngFor="let staff of staffList" [ngValue]="staff">{{staff.name}}
              </option>
            </select>
          </div>
          <div class="col">
            <button type="button" class="btn btn-secondary btn-block btn-sm" (click)="clearSearchForm()">Clear</button>
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Divisions</h5>
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <label for="filter" class="col-2 col-form-label col-form-label-sm">Filter Columns</label>
              <mat-select (selectionChange)="addColumn($event)"
                          placeholder="Columns"
                          multiple
                          [value]="displayedColumns"
                          [compareWith]="compareTableColumns"
                          class="form-control form-control-sm col" id="filter">
                <mat-option *ngFor="let column of columns"
                            [value]="column">
                  {{column | sentence}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-12">
            <div>
              <table class="table table-bordered table-hover table-sm" cdk-table [dataSource]="dataSource" matSort>

                <ng-container cdkColumnDef="id">
                  <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Id</th>
                  <td cdk-cell *cdkCellDef="let division">{{division.id}}</td>
                </ng-container>

                <ng-container cdkColumnDef="name">
                  <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Name</th>
                  <td cdk-cell *cdkCellDef="let division">{{division.name}}</td>
                </ng-container>

                <ng-container cdkColumnDef="boardMember">
                  <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Board Member</th>
                  <td cdk-cell *cdkCellDef="let division">{{division.boardMember?.member?.fullName}}</td>
                </ng-container>

                <ng-container cdkColumnDef="staff">
                  <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Staff</th>
                  <td cdk-cell *cdkCellDef="let division">{{division.staff?.name}}</td>
                </ng-container>

                <ng-container cdkColumnDef="action">
                  <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Action</th>
                  <td cdk-cell *cdkCellDef="let division">
                    <div class="btn-group btn-group-sm special">
                      <button type="button" class="btn btn-warning" (click)="fillForm(division)">Edit</button>
                      <button type="button" class="btn btn-danger" (click)="deleteDivision(delete)">Delete</button>
                    </div>
                    <ng-template #delete>
                      <div class="modal-body text-center">
                        <p>Are you sure that you want to delete {{division.name}} ?</p>
                        <div class="btn-group d-flex">
                          <button type="button" class="btn btn-danger w-100" (click)="onDeleteYes(division.id)">Yes
                          </button>
                          <button type="button" class="btn btn-secondary w-100" (click)="closeModal()">No</button>
                        </div>
                      </div>
                    </ng-template>
                  </td>
                </ng-container>

                <tr class="thead-light" cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>

                <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>

              </table>
              <mat-spinner
                diameter="50"
                strokeWidth="5"
                *ngIf="isLoading"
                style="margin:0 auto;">
              </mat-spinner>
              <mat-paginator [pageSizeOptions]="[5, 7, 10]"></mat-paginator>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #persist>
  <div class="modal-body text-center">
    <table class="table table-bordered table-hover table-sm">
      <thead>
      <tr>
        <th scope="col" colspan="2">Please Review Again</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="id.value">
        <td>Id</td>
        <td> {{id.value}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{name.value}}</td>
      </tr>
      <tr>
        <td>Board Member Id</td>
        <td>{{boardMember.value?.id}}</td>
      </tr>
      <tr>
        <td>Staff</td>
        <td>{{staff.value?.name}}</td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group d-flex">
      <button type="button" class="btn btn-primary w-100" (click)="onPersistYes()">Yes</button>
      <button type="button" class="btn btn-secondary w-100" (click)="closeModal()">No</button>
    </div>
  </div>
</ng-template> <!--persist confirmation modal-->


