<div class="form-row">
  <div class="col-4">
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-title text-center">Make Withdrawals</h5>

        <div class="form-group row">
          <label for="accountNumber" class="col-sm-5 col-form-label col-form-label-sm">Account Number
            <span style="color: red">*</span></label>
          <input [ngClass]="isInvalid(accountNumber)" [formControl]="accountNumber" id="accountNumber" type="text"
                 class="form-control form-control-sm col-sm" (keyup.enter)="loadAccountByNumber()">
          <small class="form-text text-muted offset-5">Type account number and press ENTER</small>
          <div class="invalid-feedback offset-5" *ngIf="accountNumber.hasError('required') && accountNumber.touched">Account number is required</div>
          <div class="invalid-feedback offset-4" *ngIf="accountNumber.hasError('numberIsForbidden') && accountNumber.touched">Account number should starts with "21"</div>
          <div class="invalid-feedback offset-4" *ngIf="accountNumber.hasError('pattern') && accountNumber.touched">Account Number should only contain numbers</div>
          <div class="invalid-feedback offset-4" *ngIf="accountNumber.hasError('minlength') && accountNumber.touched">Min length of account number should be 5</div>
          <div class="invalid-feedback offset-4" *ngIf="accountNumber.hasError('maxlength') && accountNumber.touched">Max length of account number should be 5</div>
        </div>
        <alert *ngIf="errorMsg" type="danger">{{errorMsg}}</alert>

        <div class="form-group row">
          <label for="amount" class="col-sm-5 col-form-label col-form-label-sm">Amount <span style="color: red">*</span></label>
          <input [ngClass]="isInvalid(amount)" [formControl]="amount" id="amount" type="number"
                 class="form-control form-control-sm col-sm">
          <div class="invalid-feedback offset-5" *ngIf="amount.hasError('required') && amount.touched">Amount is required</div>
        </div>

        <div class="form-group row">
          <div class="btn-group btn-group-sm d-flex col">
            <button type="button" class="btn btn-primary w-100" (click)="withdraw(persist)">Add</button>
            <button type="button" class="btn btn-secondary w-100" (click)="clearForm()">Clear</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-4" *ngIf="account">
    <ul class="list-group">

      <li class="d-flex w-100 justify-content-center list-group-item active">
        <b>Account Details</b>
      </li>

      <li class="list-group-item d-flex justify-content-between list-group-item-action">
        <b>Account Number</b>
        <span class="text-muted">{{account.number}}</span>
      </li>

      <ng-container *ngIf="savings">
        <li class="list-group-item d-flex justify-content-between list-group-item-action">
          <b>Account Holder</b>
          <span class="text-muted">{{savings.member?.fullName}}</span>
        </li>

        <li class="list-group-item d-flex justify-content-between list-group-item-action">
          <b>NIC</b>
          <span class="text-muted">{{savings.member?.nic}}</span>
        </li>

        <li class="list-group-item d-flex justify-content-between list-group-item-action">
          <b>Savings Type</b>
          <span class="text-muted">{{savings.savingType.name}}</span>
        </li>
      </ng-container>

      <li class="list-group-item d-flex justify-content-between list-group-item-action bg-light">
        <b class="text-success">Current Account Balance</b>
        <span class="text-success">{{account.balance | number: '1.2-2'}}</span>
      </li>
    </ul>
  </div>

  <div class="col-4" *ngIf="entries$">
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-title text-center">Recent Transactions</h5>
        <table class="table table-sm table-hover table-bordered">
          <thead class="thead-light">
          <tr>
            <th>Date</th>
            <th>Amount</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let entry of entries$ | async">
            <ng-container *ngIf="entry.transaction.entryType === 'Transaction_Entry'">
              <td>{{entry.transaction?.dateTime | date: 'fullDate'}}</td>
              <ng-container [ngSwitch]="entry.operationType">
                <td *ngSwitchCase="'Credit'">{{entry.amount | number: '1.2-2'}}</td>
                <td *ngSwitchCase="'Debit'">({{entry.amount | number: '1.2-2'}})</td>
              </ng-container>
            </ng-container>
          </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>

<ng-template #persist>
  <div class="modal-body text-center">
    <table class="table table-bordered table-hover table-sm">
      <thead class="thead-light">
      <tr>
        <th scope="col" colspan="2">Please Review Again</th>
      </tr>
      </thead>
      <tbody *ngIf="account">
      <tr>
        <td>Account Number</td>
        <td>{{account.number}}</td>
      </tr>
      <ng-container *ngIf="savings">
        <tr>
          <td>Member full name</td>
          <td>{{savings.member?.fullName}}</td>
        </tr>
        <tr>
          <td>NIC</td>
          <td>{{savings.member?.nic}}</td>
        </tr>
        <tr>
          <td>Savings Type</td>
          <td>{{savings.savingType.name}}</td>
        </tr>
        <tr>
          <td>Amount</td>
          <td>{{amount.value| number: '1.2-2'}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <div class="btn-group btn-group-sm d-flex">
      <button type="button" class="btn btn-primary w-100" (click)="onPersistYes()">Yes</button>
      <button type="button" class="btn btn-secondary w-100" (click)="closeModal()">No</button>
    </div>
  </div>
</ng-template>
