<div class="row">
  <div class="col-lg-4">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title text-center">Meeting Form</h5>
        <form [formGroup]="form">

          <div class="form-group row">
            <label for="date" class="col-sm-5 col-form-label col-form-label-sm">Date <span
              style="color: red">*</span></label>
            <input
              [ngClass]="isInvalid(date)"
              bsDatepicker
              [bsConfig]="{dateInputFormat: 'YYYY-MM-DD', containerClass:'theme-default'}"
              placement="right"
              type="text" formControlName="date" class="form-control form-control-sm  col-sm" id="date">
            <div class="invalid-feedback offset-5" *ngIf="date.hasError('required') && date.touched">Date is
              required
            </div>
          </div>

          <div class="form-group row">
            <label for="time" class="col-sm-5 col-form-label col-form-label-sm">Time <span
              style="color: red">*</span></label>
            <timepicker
              [ngClass]="isInvalid(time)" [hourStep]="1" [minuteStep]="1"
              formControlName="time" class="col-sm" id="time"></timepicker>
            <div class="invalid-feedback offset-5" *ngIf="time.hasError('required') && time.touched">Time is
              required
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-5 col-form-label col-form-label-sm">Meeting Status <span
              style="color: red">*</span></label>
            <select [attr.disabled]="!id.value? 'disabled': null" [ngClass]="isInvalid(meetingStatus)"
                    class="form-control form-control-sm col-sm" id="meetingStatus" formControlName="meetingStatus">
              <option disabled [ngValue]="null">Select Meeting Status</option>
              <option *ngFor="let meetingStatus of meetingStatusList" [ngValue]="meetingStatus">{{meetingStatus | underscore}}
              </option>
            </select>
            <div class="invalid-feedback offset-5" *ngIf="meetingStatus.hasError('required') && meetingStatus.touched">
              Meeting Status is required
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-5 col-form-label col-form-label-sm">Meeting Type <span
              style="color: red">*</span></label>
            <select [ngClass]="isInvalid(meetingType)"
                    class="form-control form-control-sm col-sm" id="meetingType" formControlName="meetingType">
              <option disabled [ngValue]="null">Select Meeting Type</option>
              <option *ngFor="let meetingType of meetingTypeList" [ngValue]="meetingType">{{meetingType}}</option>
            </select>
            <div class="invalid-feedback offset-5" *ngIf="meetingType.hasError('required') && meetingType.touched">
              Meeting Type is required
            </div>
          </div>

          <div class="form-group row">
            <div class="btn-group btn-group-sm d-flex col">
              <button type="button" class="btn btn-primary w-100"
                      *ngIf="id.value === null"
                      (click)="addMeeting(persist)">Add
              </button>
              <button type="button"
                      *ngIf="id.value !== null"
                      (click)="addMeeting(persist)"
                      class="btn btn-warning w-100">Update
              </button>
              <button type="button" class="btn btn-secondary w-100" (click)="clearForm()">Clear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title text-center">Search</h5>
        <form [formGroup]="searchForm" class="form-row align-items-end">
          <div class="col">
            <input
              bsDaterangepicker placement="bottom" placeholder="date range"
              [bsConfig]="{dateInputFormat: 'YYYY-MM-DD', containerClass:'theme-default'}"
              type="text" [formControl]="dateRange" class="form-control form-control-sm">
          </div>

          <div class="col">
            <select [compareWith]="compareDropdown" class="form-control form-control-sm col-sm"
                    formControlName="meetingStatus">
              <option disabled [ngValue]="null">Select Meeting Status</option>
              <option *ngFor="let meetingStatus of meetingStatusList" [ngValue]="meetingStatus">{{meetingStatus}}
              </option>
            </select>
          </div>

          <div class="col">
            <select [compareWith]="compareDropdown" class="form-control form-control-sm col-sm"
                    formControlName="meetingType">
              <option disabled [ngValue]="null">Select Meeting Type</option>
              <option *ngFor="let meetingType of meetingTypeList" [ngValue]="meetingType">{{meetingType}}</option>
            </select>
          </div>

          <div class="col">
            <div class="btn-group btn-group-sm d-flex">
              <button type="button" class="btn btn-success btn-sm w-100" (click)="search()">Search</button>
              <button type="button" class="btn btn-secondary btn-sm w-100" (click)="clearSearch()">Clear</button>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title text-center">Meetings</h5>
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <label for="filter" class="col-2 col-form-label col-form-label-sm">Filter Columns</label>
              <mat-select (selectionChange)="addColumn($event)"
                          placeholder="Columns"
                          multiple
                          [value]="displayedColumns"
                          [compareWith]="compareTableColumns"
                          class="form-control form-control-sm col" id="filter">
                <mat-option *ngFor="let column of columns"
                            [value]="column">
                  {{column | sentence}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-12">
            <div class="mat-elevation-z8">
              <table cdk-table [dataSource]="dataSource" matSort class="table table-bordered table-hover table-sm">

                <ng-container matColumnDef="id">
                  <th cdk-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                  <td cdk-cell *cdkCellDef="let meeting">{{meeting.id}}</td>
                </ng-container>

                <ng-container cdkColumnDef="date">
                  <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Date</th>
                  <td cdk-cell *cdkCellDef="let meeting">{{meeting.date}}</td>
                </ng-container>

                <ng-container cdkColumnDef="time">
                  <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Time</th>
                  <td cdk-cell *cdkCellDef="let meeting">{{meeting.time | time}}</td>
                </ng-container>

                <ng-container cdkColumnDef="meetingType">
                  <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Meeting Type</th>
                  <td cdk-cell *cdkCellDef="let meeting">{{meeting.meetingType}}</td>
                </ng-container>

                <ng-container cdkColumnDef="meetingStatus">
                  <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Meeting Status</th>
                  <td cdk-cell *cdkCellDef="let meeting">{{meeting.meetingStatus | underscore}}</td>
                </ng-container>

                <ng-container cdkColumnDef="action">
                  <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Action</th>
                  <td cdk-cell *cdkCellDef="let meeting">
                    <div class="btn-group btn-group-sm special">
                      <button type="button" class="btn btn-warning" (click)="fillForm(meeting)">Edit</button>
                      <button type="button" class="btn btn-danger" (click)="deleteMeeting(delete)">Delete</button>
                      <button type="button" class="btn btn-info" (click)="sendSMS(sms)">Notify</button>
                    </div>

                    <ng-template #delete>
                      <div class="modal-body text-center">
                        <p>Are you sure that you want to delete meeting id: {{meeting.id}} ? </p>
                        <p><b>Attendances related this meeting will also be deleted</b></p>
                        <div class="btn-group btn-group-sm d-flex">
                          <button type="button" class="btn btn-danger w-100" (click)="onDeleteYes(meeting.id)">Yes
                          </button>
                          <button type="button" class="btn btn-secondary w-100" (click)="closeModal()">No</button>
                        </div>
                      </div>
                    </ng-template>

                    <ng-template #sms>
                      <div class="modal-body text-center">
                        <p>Are you sure that you want to send SMS to board members</p>
                        <div class="btn-group btn-group-sm d-flex">
                          <button type="button" class="btn btn-info w-100" (click)="sendSMSYes(meeting.id)">Yes
                          </button>
                          <button type="button" class="btn btn-secondary w-100" (click)="closeModal()">No</button>
                        </div>
                      </div>
                    </ng-template>

                  </td>
                </ng-container>

                <ng-container cdkColumnDef="attendance">
                  <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Attendance</th>
                  <td cdk-cell *cdkCellDef="let meeting">
                    <div class="btn-group btn-group-sm d-flex">
                      <button (click)="loadAttendance(meeting.id, viewAttendance)"
                              *ngIf="meeting.attendanceList.length !== 0"
                              type="button" class="btn btn-info w-100">View
                      </button>

                      <button *ngIf="meeting.attendanceList.length === 0"
                              routerLink="../attendance"
                              [queryParams]="{meetingId: meeting.id, isNew: true}"
                              type="button" class="btn btn-success w-100">Add
                      </button>

                      <button *ngIf="meeting.attendanceList.length !== 0"
                              routerLink="../attendance"
                              [queryParams]="{meetingId: meeting.id, isNew: false}"
                              type="button" class="btn btn-warning w-100">Update
                      </button>
                    </div>
                  </td>
                </ng-container>

                <tr class="thead-light" cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>

                <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>

              </table>
              <mat-spinner
                diameter="50"
                strokeWidth="5"
                *ngIf="isLoading"
                style="margin:0 auto;">
              </mat-spinner>
              <mat-paginator [pageSizeOptions]="[5, 7, 10]"></mat-paginator>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #persist>
  <div class="modal-body text-center">
    <table class="table table-bordered table-hover table-sm">
      <thead>
      <tr>
        <th scope="col" colspan="2">Please Review Again</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="id.value">
        <td>Id</td>
        <td> {{id.value}}</td>
      </tr>
      <tr>
        <td>Date</td>
        <td>{{date.value}}</td>
      </tr>
      <tr>
        <td>Time</td>
        <td>{{time.value | time}}</td>
      </tr>
      <tr>
        <td>Meeting Status</td>
        <td>{{meetingStatus.value}}</td>
      </tr>
      <tr>
        <td>Meeting Type</td>
        <td>{{meetingType.value}}</td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group d-flex">
      <button type="button" class="btn btn-primary w-100" (click)="onPersistYes()">Yes</button>
      <button type="button" class="btn btn-secondary w-100" (click)="closeModal()">No</button>
    </div>
  </div>
</ng-template> <!--persist confirmation modal-->

<ng-template #viewAttendance>
  <div class="modal-body text-center">
    <table class="table table-bordered table-hover table-sm">
      <thead class="thead-light">
      <tr>
        <th>Meeting Id</th>
        <th>Board Member</th>
        <th>Attendance Type</th>
        <th>Remarks</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let attendance of attendanceList">
        <tr [ngClass]="tableRowStyle(attendance.attendanceType)">
          <td>{{attendance.meeting.id}}</td>
          <td>{{attendance.boardMember.member.fullName}}</td>
          <td>{{attendance.attendanceType}}</td>
          <td>{{attendance.remarks}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <div class="btn-group d-flex">
      <button type="button" class="btn btn-sm btn-secondary w-100" (click)="closeModal()">Close</button>
    </div>
  </div>
</ng-template> <!--view attendance modal-->


